# Branding
SATKER_NAME=BPS Kabupaten Halmahera Utara

# Django Settings
SECRET_KEY=django-insecure-zl!$)_h4k!xk)5-)5a)761k^6mt!k0&7ct*!4s6cgy@uu3tf7^
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (PostgreSQL/MySQL)
# DATABASE_URL=postgres://user:password@host:port/dbname

# Google API Credentials
# Opsi 1: Isi langsung konten JSON service account ke sini
GOOGLE_SERVICE_ACCOUNT_JSON={"type": "service_account", ...}

# Opsi 2: Letakkan file service_account.json di root (atau atur pathnya)
GOOGLE_APPLICATION_CREDENTIALS=service_account.json
