# Branding
SATKER_NAME=BPS Kabupaten Halmahera Utara

# Django Settings
SECRET_KEY=your-secret-key-is-here-please-change-it-before-deploy
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@pikas.com

# Database Configuration (PostgreSQL/MySQL)
# DATABASE_URL=postgresql://postgres:4dm1n@45.127.32.109:54321/pikas

# Google API Credentials
# Opsi 1: Isi langsung konten JSON service account ke sini
GOOGLE_SERVICE_ACCOUNT_JSON={}

# Opsi 2: Letakkan file service_account.json di root (atau atur pathnya)
# GOOGLE_APPLICATION_CREDENTIALS=service_account.json
